  :root { 
    --arylide-yellow: hsla(53, 77%, 63%, 1);
    --platinum: hsla(0, 0%, 90%, 1);
    --misty-rose: hsla(17, 94%, 94%, 1);
    --beige: hsla(80, 41%, 89%, 1);
    --cinereous: hsla(13, 13%, 65%, 1);
    --apricot: hsla(21, 85%, 87%, 1);
    --celeste: hsla(178, 94%, 87%, 1);
    --beige-2: hsla(71, 33%, 83%, 1);
    --ash-gray: hsla(82, 19%, 72%, 1);
    --rufous: hsla(11, 91%, 34%, 1);
    --salmon: hsla(12, 100%, 72%, 1);
    --jet: hsla(240, 1%, 23%, 1);

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: var(--misty-rose);
  background-color: #var(--jet);
  background-image: url('./assets/canvas.png');
  background-size: cover;
  background-position: center center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


html, body {
  box-sizing: border-box;
  font-family: 'Assistant', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25em;
  background-color: var(--apricot);
  color: var(--jet);
  overflow: none;
  min-width: 320px;
  min-height: 100vh;
  font-weight: 300;

}

a {
  font-weight: 500;
  color: #var(--celeste);
  text-decoration: inherit;
}
a:hover {
  color: #var(--apricot);
}


h1, 
h2, 
h3, 
h4 {
  line-height: 1.1;
  font-weight: 400;
  font-family: 'Assistant', sans-serif;
  color: var(--jet);
  text-shadow: .25px .25px 1px var(--jet);

}

button {
  max-width: min-content;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em .8em;
  font-size: .6em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--jet);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #var(--celeste);;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--misty-rose);
  }
  a:hover {
    color: var(--jet);
  }
  button {
    background-color: var(--misty-rose);
  }
}

.both {
  max-width: 100%;
  margin: 3rem auto;
  display: flex; 
  padding: 1rem;
  font-weight: 300;
  font-family: 'Assistant', sans-serif;
}

.editor-wrap {
  font-weight: 300;
  max-height: fit-content;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.subtitle {
  color: var(--cinereous);
}

.textarea {
  height: 100%;
  width: 100%;
}

.preview-wrap {
  font-weight: 300;
  background-color: var(--misty-rose);
  flex: 1;
  height: 100vh;
  width: 60%;
  margin: 1rem;
}


.download {
  margin: 1rem;
}
